body  {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(132,157,143);
  background-position: center top;
  background-repeat: no-repeat;
}

a  {
  text-decoration: none;
  color: #ffffff;/*убрала цвет и подчеркивание ссылок*/
}

.site-navigation,
.submenu,
.products-line-list,
.features-list,
.social,
.info-link,
.breadcrumbs,
.pagination-list  {
  list-style: none;/*убрала точки со списков*/
}

.site-navigation>li>a  {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;/*шрифт меню*/
}


.contact p,
.submenu a,
.basketspan,
.entancespan  {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  /*размер текста входа, корзины, время работы и подменю*/
}

.submenu a,
.user a,
.basket a,
.basket-item,
.basket-popup p,
.features-item,
.features b,
.blog-news a,
.blog-news h3,
.head-office p,
.feedbackform b {
  color: #323232; /*общие цвета для разных элементов*/
}

.submenu li:first-child  {
  font-weight: bold; /* жирность новинок*/
}


.user-search input,
.user input  {
  font-size: 14px;
  line-height: 24px;
  color:#999999;
} /* размер текста и цвет в формах (плейсхолдеры*/


.user a {
  font-size: 13px;
  line-height: 24px; /*ссылки забыли пароль и новая регистрация*/
}



.phone  {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold; /*телефон*/
}


.site-navigation a:active  {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  border-radius: 12px;
  padding: 5px;
}/*бекграунт нажатия меню НЕ РАБОТАЕТ а может я не вижу тени внутри кнопки*/

.site-navigation a:hover  {
  background-color: #ffffff;
  color: #323232;
  border-radius: 12px;
  padding: 5px;/*наведение главное меню*/
}



.site-navigation .active-navigation a {
  background-color: #d07058;
  border-radius: 12px;
  padding: 5px;
}/*бекграунт находимся на странице меню но получаются тогда все пункты подменю как активные по идее это так и есть но не могу избавится от бордер радиуса применяла отрицательный селектор и другое но не получается*/


.submenu a {
  background-color: #ffffff;
}


.submenu .active a  {
  background-color: #d07058;
  border-radius: 0px;/*бекграунт находимся на странице подменюб вышла из положения так, так как находится мы можем только на странице сливочное то класс эктив добавила ей и стилизовала и только у нее избавилась от бордер радиуса*/
}


.submenu a:hover  {
  background-color: #fbded7;
  border-radius: 0px; /*бекграунт наведения подменю*/
}

.submenu a:focus  {
  background-color: #f6b5a5;
  border-radius: 0px;
}
 /*бекграунт нажатия подменю*/




/*.site-navigation > li {
    position: relative;
} заготовка выпадашки подменю это работает пока закомменттировала для удобства*/

/*.submenu  {
  position: absolute;
  display: none;
  left: 100px;
  width:
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
}

.site-navigation > li:hover .submenu {
    display: block;
} /*заготовка выпадашки подменю менять данные падингов и позиционирования это работает*/



.basket a,
.breadcrumbs,
.sort-type legend,
.range-type p,
.fatness-type legend,
.filler-type legend  {
  font-size: 14px;
  line-height: 16px; /*корзина с товарами шрифт*/
}

.basket-item  {
  font-size: 13px;
  line-height: 24px;
}


.basket-item span  {
  color:#999999; /*переопределяю цвет последней графы указала такой же как у плейсхолдеров*/
}


.basket-popup p  {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold; /* размер итого */
}


.user button,
.promo-item-1 a,
.promo-item-2 a,
.products-line-list button,
.subscribe-gllacy button,
.head-office a,
.feedback-button,
.entrance-button,
.order-button  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
   /*кнопки*/
}

.user button,
.products-line-list button,
.subscribe-gllacy button,
.feedback-button,
.order-button {
  border:  none;
  text-align: center;
  vertical-align: middle;
  border-color: rgb(231,74,53);
  border-radius: 20px;
  padding: 5px 10px;
}


.order-button,
.user button,
.subscribe-gllacy button,
.feedback-button,
.order-button,
.products-line-list button,
.type button  {
  color: #ffffff;
}

.promo-item-1 a,
.promo-item-2 a,
.subscribe-gllacy button,
.head-office a,
.feedback-button,
.slider-button   {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); /* тени от кнопок */
}

.entrance-button,
.products-line-list button,
.basket-popup button {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}


/* шапка и некоторые общие элементы */



.slider-slides p  {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold; /*текст слайдера*/
}

.slider-button  {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 30px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*кнопка слайдера*/
}

.slider-slides a:hover  {
  color: #ffffff;
  background-image:
    linear-gradient( to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient( to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}/*бекграунт наведения кнопки слайдера*/

.slider-slides a:active {
  background-image: linear-gradient( to top, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
 /*нажатие кнопки слайдера не работает или не вижу тени внутри*/


.promo-item-1 h3,
.promo-item-2 h3  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold; /*заголовки промо малинка даром*/
}

.promo-item-1  {
  background-color: #b73b60;
  background-image: url("../img/rastberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}


.promo-item-2  {
  background-color: #421e0b;
  background-image: url("../img/shokko.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo p  {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
} /*тест промо*/


.products-line-price  {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5); /*цена мороженного размер шрифта не вижу из фотошопа*/
}

.weight  {
  font-size: 32px;
  line-height: 41px;
  font-weight: bold; /*цена спан кг размер шрифта не вижу из фотошопа*/
}


.features b,
.blog-news a  {
  font-size: 24px;
  line-height: 30px; /*преимущества жирный текст и новое в нашем блоге*/
}

.features  {
  background-color: #ece1c9;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}


.blog-news a  {
  font-weight: bold;
}


.blog-news  {
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscribe-gllacy label  {
  color: #5a5a5a;/*подпишитесь на рассылку*/
}


 .subscribe-gllacy input,
.feedbackform input,
.feedbackform textarea {
  font-size: 16px;
  line-height: 24px;
  color: #999999;/*подпишитесь на рассылку электроннная почта*/
}

.subscribe-form   {
    background-color: rgb(248, 247, 244); /* почтовый фон смержить слои сделать одним рисунком можно так?*/
}


.head-office p  {
  font-size: 14px;
  line-height: 20px;  /* адрес главного офиса текст */
}

.head-office b  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.current-item  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold; /*сливочное мороженое*/
}


.fatness-type label,
.filler-type label,
.type button,
.pagination-list  {
  font-size: 16px;
  line-height: 18px;
}


/*мэйн*/



.info-link .link  {
  font-size: 13px;
  line-height: 18px;
}

.info-link li:first-child {
  font-weight: bold;
}


.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
}


.feedbackform b  {
  font-size: 24px;
  line-height: 28px;
}


/*подвал*/


/*.searchbutton {
  position: relative;
}

.searchbox {
  display: none;
}

.searchbutton:hover .searchbox{
  display: block;
} выпадание поиска не работает, выносила ссылку за форму, все равно не работает


*/















