body  {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(132,157,143);
  background-position: center top;
  background-repeat: no-repeat;
}

a  {
  text-decoration: none;
  color: #ffffff;/*убрала цвет и подчеркивание ссылок*/
}

.site-navigation,
.submenu,
.products-line-list,
.features-list,
.social,
.info-link  {
  list-style: none;/*убрала точки со списков*/
}

.site-navigation>li>a  {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;/*шрифт меню*/
}


.contact p,
.submenu a,
.basketspan,
.entancespan  {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  /*размер текста входа, корзины, время работы и подменю*/
}

.submenu a  {
  color: #323232;
}

.submenu li:first-child  {
  font-weight: bold; /*цвет текста подменю и жирность новинок*/
}


.user-search input,
.user input  {
  font-size: 14px;
  line-height: 24px;
  color:#999999;
} /* размер текста и цвет в формах (плейсхолдеры*/


.user a {
  font-size: 13px;
  line-height: 24px;
  color: #323232; /*ссылки забыли пароль и новая регистрация*/
}

.user button,
.basket-popup button  {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold; /*кнопка войти*/
}

.phone  {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold; /*телефон*/
}



/*.site-navigation > li {
    position: relative;
} заготовка выпадашки подменю*/


.site-navigation a:hover  {
  padding: 5px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 12px;/*наведение главное меню*/
}


/*.submenu  {
  position: absolute;
  display: none;
  left: 100px;
  width:
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
}

.site-navigation > li:hover .submenu {
    display: block;
} /*заготовка выпадашки подменю менять данные падингов и позиционирования*/

.submenu a {
  background-color: #ffffff;
}

.submenu a:visited  {
  background-color: #d07058; /*бекграунт находимся на странице подменю*/
}

.submenu a:hover  {
  background-color: #fbded7;
  border-radius: 0px;/*бекграунт наведения подменю*/
}

.submenu a:focus  {
  background-color: #f6b5a5;
  /*бекграунт нажатия подменю*/
}

/*.user-search a {
  position: relative;
}

.user-search input {
  position: absolute;
  display: none;
}

.user-search a: hover .user-search input {
  display: block;
} выпадание поиска не работает */

.basket a  {
  font-size: 14px;
  line-height: 16px;
  color: #323232; /*корзина с товарами шрифт*/
}

.basket-item  {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}


.basket-item span  {
  color:#999999; /*переопределяю цвет последней графы указала такой же как у плейсхолдеров*/
}


.basket-popup p  {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232; /* размер итого */
}



/* шапка */
.slider-slides p  {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold; /*текст слайдера*/
}

.slider-button  {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*кнопка слайдера*/
}


.promo-item h3  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold; /*заголовки промо малинка даром*/
}


.promo p  {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
} /*тест промо*/


.promo-item a,
.products-line-list button,
.subscribe-gllacy button,
.head-office a,
.feedback-button  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); /*кнопка давайте оба*/
}

.promo-item  {
  background-image: url(C:\Users\Anna\Documents\GitHub\472443-gllacy\img\rastberry.jpg);
}

.subscribe-gllacy button,
.feedback-button  {
  color: #ffffff;
}

.head-office a

.user button  {
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004); /* кнока войти*/
}

.products-line-list button  {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  color: #ffffff;
}

.products-line-price  {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5); /*цена мороженного размер шрифта не вижу из фотошопа*/
}

.weight  {
  font-size: 32px;
  line-height: 41px;
  font-weight: bold; /*цена спан кг размер шрифта не вижу из фотошопа*/
}


.features b,
.blog-news a  {
  font-size: 24px;
  line-height: 30px;
  color: #323232;/*преимущества жирный текст и новое в ганем блоге*/
}

.features-item {
  color: #323232;
}

.blog-news a  {
  font-weight: bold;
  color: #323232;
}

.blog-news h3  {
  color: #323232;
}

.subscribe-gllacy label  {
  color: #5a5a5a;/*подпишитесь на рассылку*/
}

 .subscribe-gllacy input,
.feedbackform input,
.feedbackform textarea {
  font-size: 16px;
  line-height: 24px;
  color: #999999;/*подпишитесь на рассылку электроннная почта*/
}


.head-office p  {
  font-size: 14px;
  line-height: 20px;
  color: #323232;  /* адрес главного офиса текст */
}

 .head-office b  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/*.info-link .link  {
  font-size: 13px;
  line-height: 18px;
}

.info-link .link .partners {
  font-weight: bold;
}
*/

.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
}


.feedbackform b  {
  font-size: 24px;
  line-height: 28px;
}



