body  {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#fff;
  background-color: #849d8f;
  background-position: center top;
  background-repeat: no-repeat;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.submenu,
.products-line-list,
.features-list,
.social,
.info-link,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.entrance-button,
.slider-button,
.empty-basket,
.button,
.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.order-button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0;
}

.search-button,
.entrance,
.empty-basket,
.basket a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}


.entrance-button,
.slider-button,
.button,
.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.order-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.entrance-button,
.button-promo {
 padding-left: 25px;
 padding-right: 25px;
}




.catalog-link,
.delivery-link,
.companyinfo-link,
.type-button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 7px 14px 7px 14px;
  text-decoration: underline;
  /*border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
  /*но подчеркивание соответственно получается очень далеко от слов , раньше падинг был в ховере и прыгали слова*/

}

.submenu li:first-of-type {
  border-bottom: 1px solid;
  border-bottom-color: rgba(209,208,206,0.2);
}

.contact p,
.contact-catalog p,
.submenu a,
.basket-span,
.entrance-span  {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.user-search-box a,
.entrance,
.empty-basket,
.sort-type select,
.fatness-type,
.filler-type,
.type-button {
  background-color: rgba(255, 255, 255,0.2);
}


.submenu a,
.user-box a,
.basket a,
.basket-item,
.basket-popup p,
.features-item,
h1,
.blog-news a,
.blog-news h3,
.head-office p,
.feedbackform b {
  color: #323232;
}


.submenu li:first-child,
.contact p,
.contact-catalog p {
  font-weight: bold;
}

.submenu li:first-child>a {
  border-radius: 4px 4px 0 0;
}

.submenu li:last-child>a {
  border-radius: 0 0 4px 4px;
}



.catalog-link:focus,
.delivery-link:focus,
.companyinfo-link:focus  {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  border-radius: 16px;
  padding: 7px 14px;
}

.site-navigation a:hover  {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 16px;
}


.catalog-link,
.delivery-link,
.companyinfo-link  {
  position: relative;
}

.submenu  {
  position: absolute;
  display: none;
  top: 100%;
  z-index:1;
  margin-top: 5px;
  left: 210px;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.40);
}

.submenu a {
  display: block;
}

.submenu li a {
 padding: 10px 20px;
}


.site-navigation > li:hover .submenu {
    display: block;
}

.opener {
  background-color: #d07058;
  border-radius: 16px;
  padding: 7px 14px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}


.submenu .active a  {
  background-color: #d07058;
  border-radius: 0px;
}


.submenu a:hover  {
  background-color: #fbded7;
  border-radius: 0px;
}

.submenu a:focus  {
  background-color: #f6b5a5;
  border-radius: 0px;
}


.search-button {
  border-radius: 50%;
  padding: 15px;
}

a.entrance {
  padding: 5px 16px 6px 44px;
  border-radius: 16px;
}

.icon-entrance {
  width: 21px;
  height: 19px;
  position: absolute;
  right: 56px;
  bottom: 6px;
}

a.entrance .icon {
    fill: #fff;
}

a.entrance:hover .icon {
    fill: #000;
}

.icon-loupe {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 9px;
  bottom: 4px;
}

.icon-basket-red {
  width: 21px;
  height: 20px;
  position: absolute;
  right: 81px;
  top: 7px;
}

.empty-basket {
  padding: 6px 34px 6px 44px;
  border-radius: 16px;
}

.basket {
  pointer-events: none;
}

.basket.active {
  pointer-events: auto;
}

.basket a {
  padding: 9px 16px 9px 44px; /*ПО фотошопу верхний и нижний падинги 8пх*/
  border-radius: 16px;
  background-color: rgba(248, 247, 244,0.99);
}

.order-button {
 padding-left: 15px;
 padding-right: 15px;
}

.login:hover .entrance {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 16px;
}

.login:hover .entrance-span {
  color: #323232;
}

.user-box {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 20px 19px;
  border-radius: 4px;
  width: 277px;
  right: 186px;
  z-index: 1;
}

.user-box p {
  margin: 0 0 10px;
}

.login:hover  .user-box  {
  display: block;
}




.user-search input::placeholder,
.user input::placeholder  {
  font-size: 14px;
  color:#999;
  font-weight: normal;
} /* размер текста и цвет в формах плейсхолдеры не получается менять у */


.user-box a {
  font-size: 13px;
  line-height: 24px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(173,172,170,0.5);
}



.phone  {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.user-search-box {
  position: relative;
}


.search-popup {
  display: none;
  position: absolute;
  padding: 20px 15px; /*почему-то не работает*/
  right: 0px;
  background-color: aqua;
}

.user-search-box:hover .search-popup  {
  display: block;
}

.search-button:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.search-button .icon-loupe {
  fill: #fff;
}

.search-button:hover .icon-loupe {
  fill: #000;
}

.user-search,
.user-box,
.basket-popup  {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.40);
}

.user-box a:hover,
.user-box a:active {
  color: #e84d37;
  border-bottom: 1px solid;
  border-bottom-color: rgba(232,77,55,0.3);
}

.basket a,
.breadcrumbs,
.sort-type legend,
.range-type p,
.fatness-type legend,
.filler-type legend  {
  font-size: 14px;
  line-height: 16px;
}

.basket a,
.entrance-span,
.basket-span {
  font-weight: 500;
}

.basket-item  {
  font-size: 13px;
  line-height: 24px;
}


.basket-popup {
  display: none;
  position: absolute;
}

.basket .bg-icon-basket-red {
  fill:transparent;
}
.basket .icon-basket-red {
  fill:#fff;
}

.basket.active .bg-icon-basket-red,
.basket:hover .bg-icon-basket-red {
  fill:#e84d37;
}
.basket.active .icon-basket-red,
.basket:hover .icon-basket-red {
  fill:#343434;
}

.basket:hover .basket-popup  {
  display: block;
}


.basket a:hover {
Background-color: #f8f7f4;
color: #323232;
}


.basket-item span  {
  color:#999;
}


.basket-popup p  {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}


.button-promo,
.button,
.button-subscribe,
.button-fbform,
.feedback-button,
.entrance-button,
.order-button  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: linear-gradient( to top, #e74a35 0%, #f26843 100%);
}


.order-button,
.user button,
.button-subscribe,
.feedback-button,
.order-button,
.button,
.order-button  {
  color: #fff;
}

.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.slider-button   {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}


.button,
.button-fbform {
  border-radius: 16px/22px;
}

.button-subscribe,
.feedback-button  {
  border-radius: 20px/22px;
}

.entrance-button,
.button,
.order-button {
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.entrance-button {
  border-radius: 16px/24px;
}

.button-promo {
  border-radius: 23px;
}

.order-button {
  border-radius: 19px/22px;
}

.entrance-button:hover,
.order-button:hover,
.button-promo:hover,
.button:hover,
.button-subscribe:hover,
.button-fbform:hover,
.feedback-button:hover {
  color: #ffffff;
  background-image:
    linear-gradient( to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.entrance-button:active,
.order-button:active,
.button-promo:active,
.button:active,
.button-subscribe:active,
.button-fbform:active,
.feedback-button:active {
  background-image:
   linear-gradient( to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
   linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.breadcrumbs a {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}
/* шапка и некоторые общие элементы */


.sort-type,
.fatness-type,
.filler-type {
 border-radius: 19px;
}

.slider-slides p  {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  margin: 0;
  width: 700px; /*у меня 670 специально задано больше*/
  margin: 0 auto;
  margin-bottom: 30px; /*нам нужно четко 40*/
}

.slider-button  {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background: #f26843;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 32px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}



.slider-slides a:hover  {
  color: #ffffff;
  background-image:
    linear-gradient( to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.slider-slides a:active {
  background-image:
    linear-gradient( to top, rgba(000, 000, 000, 0.07) 0%, rgba(000, 000, 000, 0.07) 100%),
    linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}


.promo-item-1 h3,
.promo-item-2 h3  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promo-item-1  {
  background-color: #b73b60;
  background-image: url("../img/rastberry2.jpg");
  border-radius: 11px;
  background-position: 0px -60px;
  background-repeat: no-repeat;
  background-size: cover;
}


.promo-item-2  {
  background-color: #421e0b;
  background-image: url("../img/shokko2.jpg");
  border-radius: 11px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo p  {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}


.products-line-list h3  {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;

}

.products-line-list a  {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.products-line-list a:hover,
.products-line-list a:active,
.info-link a:hover,
.info-linkt a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.3);
}


.button {
 padding-left: 20px;
 padding-right: 20px;
}

.products-line-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}


h1,
.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features {
  background-color: #ece1c9;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 11px;
  padding: 30px 21px;
  margin: 0 0 40px 0;
}


.blog-news a {
  font-weight: bold;
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
}

.blog-news {
  background-color: #fff;
  background-image: url("../img/strawberry.jpg");
  background-position: 173px -37px;
  background-repeat: no-repeat;
  border-radius: 11px;
}

.subscribe-gllacy label {
  color: #5a5a5a;
}


.button-subscribe {
 padding-left: 19px;
 padding-right: 19px;
}

 .subscribe-gllacy input,
.feedbackform input,
.feedbackform textarea {
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.subscribe-form {
  background-color: #f8f7f4;
  border-radius: 11px;
  padding: 33px 20px;/* почтовый фон градиент и бокс шадоу сделать им?*/
}


.head-office p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.head-office b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.current-item {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0;
}


.fatness-type label,
.filler-type label,
.type button,
.pagination-list {
  font-size: 16px;
  line-height: 18px;
}

.head-office {
  background-color: #fdfefe;
}

.feedbackform {
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 21px 24px;
  border-radius: 11px;
  width: 477px;
  box-sizing: border-box;
}

.feedbackform b {
  font-size: 24px;
  line-height: 28px;
}

  .button-fbform {
 padding-left: 23px;
 padding-right: 23px;
}



/*мэйн*/



.info-link li {
  font-size: 13px;
  line-height: 18px;
}


.info-link li:first-child {
  font-weight: bold;
}


.info-link a,
.htmlacademy-logo a {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}


.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
}


.htmlacademy-logo a:hover,
.htmlacademy-logo a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.3);
}
/*подвал*/









/*сетки начало потом перенесу по соответствующим разделам*/
.main-header  {
  padding: 9px 0 0 0;
}

.flex-header-first-catalog {
  display:  flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  align-items: flex-start;
}


.main-navigation {
  display:  flex;
}

.main-navigation img {
  align-self: flex-start;
}

.site-navigation  {
  display: flex;
  margin: 0;
  padding: 13px 0 0 0;
  align-items: stretch;
  align-content: stretch;

}

.site-navigation>li {
  padding: 0;
  margin: 0;
  position: relative;
}


.login,
.empty-basket-box,
.basket {
  padding: 0 0 0 10px;
}

.form-wrapper  {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 13px 0 0 0;
}

.contact  {
  display: flex;
  justify-content: flex-end;
}

.contact p,
.contact-catalog p {
  margin: 0;
  text-align: right;
}

.flex-breadcrumbs {
  display: flex;
  padding: 0;
  order: 1;
}

.breadcrumbs {
  display: flex;
  padding: 0;
}

.flex-header-catalog {
  display:flex;
  justify-content: space-between;
}

.contact-catalog {
  order: 2;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after{
  content: "\00BB";
}

.type {
  display: flex;
}


.flex-type-1  {
  display: flex;
}


.flex-type-2  {
  display: flex;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;

}

.promo-item-1,
.promo-item-2  {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 18px 17px 17px;
  box-sizing: border-box;
}

.promo-item-1 h3,
.promo-item-2 h3  {
  margin: 0 0 15px 0;
}

.promo-item-1 p,
.promo-item-2 p  {
  margin: 0 0 45px 0;
}

.button-promo  {
  align-self: flex-end;
  margin: 0;
}




.products-line-list  {
  display:  flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.products-line-list img {
  border-radius: 50%;
}

.products-line-list {
  padding: 0;
  margin: 0 0 40px 0;
}

.products-line-list li {
  width: 22.2%; /*из ТЗ*/
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 540px;
}


.flex-col-news-subscribe {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.blog-news,
.subscribe-form {
  width: 560px;
  box-sizing: border-box;
}

.blog-news {
  padding: 27px 20px;
}

.blog-news h3 {
  margin: 0;
}

.subscribe-form p {
  margin: 0;
}

.head-office  {
  width: 300px;
  border-radius: 11px;
  z-index: 1;
  top: 1950px;/*потом передвину когда слайдер будет готов родителя позиционировать релатив*/
  left: 850px;
  position: absolute;
  padding: 33px 25px;
 /* разобраться с модальным окном обратной связи и еще мороженое тоже туда*/
}

.map {
  z-index: 2;
}

.contacts {
  margin: 0 0 40px 0;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}


.social {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-tw::before {
  content: url(../img/twitter.svg);
  border: 3px solid rgba(255, 255, 255, 0.5);
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;/*обводку хочу задать контенту получается странно*/
}


.social-insta::before {
  content: url(../img/instagram.svg);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8; /*обводку хочу задать контенту получается странно*/
}

.social-fb::before {
  content: url(../img/fb.svg);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;/*обводку хочу задать контенту получается странно*/
}


.social-vk::before {
  display: block;
  content: url("../img/vk.svg");
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;/*обводку хочу задать контенту получается странно И, можно сделать иконки как бекграунд имайдж?*/
}

.social a:hover {
  opacity: 1;
}



.info {
  display: flex;
}

.info-link {
  padding: 0;
  margin: 0;
  position: relative;
}

.info-link-1::before {
  content: "";
  position: absolute;
  right: 170px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright  {
  display: flex;
  flex-direction: column;
}


/* СЛАЙДЕР*/

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/1slide.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container,
.container-box-catalog {
  padding: 0 27px;
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
  padding-top: 280px; /*их данные*/
  text-align: center;
  color: #ffffff;
}

.slider-slides {
  margin: 0 0 40px 0;
  padding: 0;

  list-style: none;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/1slide.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/2slide.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/3slide.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/2slide.png");
}

.site-wrapper::after {
  background-image: url("../img/3slide.png");
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244,0.4);
}

.gllacy-logo {
    align-self: flex-start;
    margin-right: 8px;
  }
